@import 'bower_components/vui-colors/colors.scss';
@import 'bower_components/vui-link/link.scss';
@import 'bower_components/vui-typography/px-to-base-rem.scss';
@import 'dropdown-icons.scss';

@mixin vui-dropdown-menu() {

	background-color: $vui-color-white;
	border-radius: px-to-base-rem(8px);
	box-shadow: 0 2px 12px 0 $vui-color-titanius;
	min-width: px-to-base-rem(250px);

	& > ul {

		list-style-image: none;
		list-style-position: outside;
		list-style-type: none;
		margin: 0;
		padding: 0;

		& > li {

			border-top: 1px solid $vui-color-titanius;
			border-left: 1px solid $vui-color-titanius;
			border-right: 1px solid $vui-color-titanius;

			&:first-child {
				border-top-left-radius: px-to-base-rem(8px);
				border-top-right-radius: px-to-base-rem(8px);
			}

			&:last-child {
				border-bottom-left-radius: px-to-base-rem(8px);
				border-bottom-right-radius: px-to-base-rem(8px);
				border-bottom: 1px solid $vui-color-titanius;
			}

		}

	}

}

@mixin vui-dropdown-menu-item-focus() {

	background-color: $vui-color-celestine-light-1;

	&, &:last-child {
		border: 1px solid $vui-color-celestine-light-2;
	}

	& + li {
		border-top-width: 0;
	}

}

@mixin vui-dropdown-menu-item-link() {

	@include vui-link;

	display: inline-block;
	line-height: 1.5rem;
	padding: px-to-base-rem(11px);
	width: 100%;

	&:focus,
	&:hover {
		color: $vui-color-celestine;
		text-decoration: none;
	}

}

@mixin vui-dropdown-menu-item-link-disabled() {
	cursor: default;
	opacity: 0.5;
}
