.vui-dropdown-menu {
  background-color: #fff;
  border-radius: 0.4rem;
  box-shadow: 0 2px 12px 0 rgba(86, 90, 92, 0.2);
  min-width: 3.5rem;
  max-width: 18.5rem;
}

.vui-dropdown-menu > ul {
  list-style-image: none;
  list-style-position: outside;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.vui-dropdown-menu > ul > li {
  border-top: 1px solid #d3d9e3;
  border-left: 1px solid #d3d9e3;
  border-right: 1px solid #d3d9e3;
  line-height: 0;
}

.vui-dropdown-menu > ul > li:first-child {
  border-top-left-radius: 0.4rem;
  border-top-right-radius: 0.4rem;
}

.vui-dropdown-menu > ul > li:last-child {
  border-bottom-left-radius: 0.4rem;
  border-bottom-right-radius: 0.4rem;
  border-bottom: 1px solid #d3d9e3;
}

.vui-dropdown-menu > ul > li.vui-dropdown-menu-item-focus {
  background-color: #f2f8fc;
}

.vui-dropdown-menu > ul > li.vui-dropdown-menu-item-focus, .vui-dropdown-menu > ul > li.vui-dropdown-menu-item-focus:last-child {
  border: 1px solid #99c5e5;
}

.vui-dropdown-menu > ul > li.vui-dropdown-menu-item-focus + li {
  border-top-width: 0;
}

.vui-dropdown-menu-item-link {
  display: inline-block;
  line-height: 1.5rem;
  overflow-x: hidden;
  padding: 0.75rem 1rem;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}

.vui-dropdown-menu-item-link, .vui-dropdown-menu-item-link:visited, .vui-dropdown-menu-item-link:link, .vui-dropdown-menu-item-link:active {
  color: #006fbf;
  font-weight: 300;
  text-decoration: none;
  cursor: pointer;
}

.vui-dropdown-menu-item-link:hover, .vui-dropdown-menu-item-link:focus {
  color: #1c5295;
  text-decoration: underline;
  outline-width: 0;
}

.vui-dropdown-menu-item-link:focus, .vui-dropdown-menu-item-link:hover {
  color: #006fbf;
  text-decoration: none;
}

.vui-dropdown-menu-item-link-disabled {
  cursor: default;
  opacity: 0.5;
}
