@import 'bower_components/vui-colors/colors.scss';
@import 'bower_components/vui-link/link.scss';

$vui-dropdown-menu-offset: 0.5rem !default;
$vui-dropdown-menu-item-separator-color: $vui-color-pressicus !default;
$vui-dropdown-menu-item-separator-width: 1px !default;

@keyframes vui-dropdown-menu-animation-show {
	0% { margin-top: $vui-dropdown-menu-offset + 0.5rem; margin-bottom: $vui-dropdown-menu-offset + 0.5rem; opacity: 0; }
	100% { margin-top: $vui-dropdown-menu-offset; margin-bottom: $vui-dropdown-menu-offset; opacity: 1; }
}

@mixin vui-dropdown-menu() {

	background-color: $vui-color-white;
	border-radius: 0.4rem;
	box-shadow: 0 2px 12px 0 rgba(86, 90, 92, .2);
	min-width: 3.5rem;
	max-width: 18.5rem;

	& > ul {

		list-style-image: none;
		list-style-position: outside;
		list-style-type: none;
		margin: 0;
		padding: 0;

		& > li {

			border-top: 1px solid $vui-color-titanius;
			border-left: 1px solid $vui-color-titanius;
			border-right: 1px solid $vui-color-titanius;
			line-height: 0;

			&:first-child {
				border-top-left-radius: 0.4rem;
				border-top-right-radius: 0.4rem;
			}

			&:last-child {
				border-bottom-left-radius: 0.4rem;
				border-bottom-right-radius: 0.4rem;
				border-bottom: 1px solid $vui-color-titanius;
			}

		}

		& > li[role='separator'] {
			border: 0;
			& + li {
				border-top: $vui-dropdown-menu-item-separator-width solid $vui-dropdown-menu-item-separator-color;
			}
		}

	}

}

@mixin vui-dropdown-menu-item-focus() {

	background-color: $vui-color-celestine-light-1;

	&, &:last-child {
		border: 1px solid $vui-color-celestine-light-2;
	}

	& + li,
	& + li[role='separator'] + li {
		border-top-width: 0;
	}

}

@mixin vui-dropdown-menu-item-link() {

	@include vui-link($font-weight: 300);

	box-sizing: border-box;
	display: inline-block;
	line-height: 1.5rem;
	overflow-x: hidden;
	padding: 0.75rem 1rem;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 100%;

	&:focus,
	&:hover {
		color: $vui-color-celestine;
		text-decoration: none;
	}

}

@mixin vui-dropdown-menu-item-link-disabled() {
	cursor: default;
	opacity: 0.5;
}
